html, body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(45deg, lightgreen, gray);
    background-attachment: fixed;
    background-size: cover;
}

.containerStyles {
    position: relative;
    background-color: white;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    height: 700px;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    transition: height 1.5s ease;
    box-shadow: 2px 2px 15px black;
}

.text {
    position: relative;
    top: 0;
    left: 0;
    padding-right: 15px;
    padding-left: 15px;
}

.buttons {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: white;
    width: 500px;
    padding: 38px;
}


img {
    height: 300px;
    border-radius: 15px;
    margin-top: 25px;
    transition: filter 2s ease;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    line-height: 2;
}

#buttonClick {
    width: 100px;
    padding: 3px;
}